div.header, div.body {
	background-color: var(--container-color);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

div.header-content, div.body-content {
	background-color: var(--block-color);
	flex-grow: 1;
	flex-basis: var(--width-basis);
}

div.header-content, div.body-content {
	min-width: 15%;
}