div.tasks{
	background-color: var(--block-color);
	flex-grow: 1;
	min-width: var(--width-basis);
}

div.tasks {
	flex-basis: 60%;
	min-height: calc(var(--font-size) + var(--default-padding) * 2 + 3px);
}

block.container {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: space-between;
}

div.task {
	background-color: var(--block-color);
	flex-grow: 1;
	flex-basis: var(--width-basis);
}

div.panel {
	overflow-y:
	scroll;

	max-height: 500px;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

block.messenger{
    min-width: calc(var(--width-basis) * 1.4);
	flex-basis: var(--width-basis);
	flex-shrink: 1;
    flex-grow: 1;
}

div.menu {
    background-color: var(--block-color);
}


