<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>My ToDo List</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/input.css"/>
    <link rel="stylesheet" href="../static/css/wrapper.css"/>
    <link rel="stylesheet" href="../static/css/span.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="content" sec:authorize="isAuthenticated()">
                <span>
                    <span class="center">Hello, </span>
                    <span class="center" sec:authentication="name"></span>
                </span>
        </div>
        <div class="content no-padding"  sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit">
                    Sign Out
                </button>
            </form>
        </div>
        <form th:action="@{/projects}" method="get">
            <div class="content no-padding">
                <button type="submit">
                    Projects
                </button>
            </div>
        </form>
    </div>
</body>
</html>