<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>My ToDo List</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/input.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <script type="text/javascript" src="../static/js/script.js"></script>
</head>
<body>
<input th:value="${_csrf.token}" id="token" type="hidden">
<div class="header">
    <div class="header-content">
        <div class="content" sec:authorize="isAuthenticated()">
                <span>
                    <span class="username">Hello, </span>
                    <span class="username" sec:authentication="name"></span>
                </span>
        </div>
        <form th:action="@{/logout}" method="post">
            <div class="content no-padding">
                <button type="submit">
                    Sign Out
                </button>
            </div>
        </form>
    </div>
    <div class="header-content" sec:authorize="isAuthenticated()">
        <div class="content no-padding">
            <input placeholder="project name" value="project name" id="projectName">
        </div>
        <div class="content no-padding">
            <button  onclick="newProject()">
                add project
            </button>
        </div>
    </div>
</div>
<div class="body" id="body" sec:authorize="isAuthenticated()">
    <div class="body-content" th:each="project: ${projects}">
        <div class="content">
            <span th:text="${project.name}"></span>
        </div>
        <div class="content">
            <span>
                <span class="username" th:text="${project.countOfTasks}"></span>
                <span class="username"> tasks</span>
            </span>
        </div>
        <div class="content no-padding">
            <button>open</button>
        </div>
    </div>
</div>
</body>
</html>